@media screen and (width >=320px) {
	#some-id {
		color: red;
	}

	img {
		width: 300px;
		height: 180px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 32px 32px 0px 0px;
	}

	.chip_set {
		width: 80%;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;

	}

	.text {
		width: 268px;
		background-color: #FFE6C0;
		margin-top: 0em;
		padding: 16px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 0px 0px 32px 32px;
	}

	.ah {
		padding-left: 84px;

		&::before {
			content: "";
			display: block;
			background: url(image\ 1.png);
			height: 72px;
			width: 72px;
			border-radius: 16px;
			position: absolute;
			right: 83%;
			top: 4%;
			z-index: -1;
		}
	}


}

@media screen and (width >=500px) {
	#some-id {
		color: red;
	}

	img {
		width: 500px;
		height: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 32px 32px 0px 0px;
	}

	.box {
		margin: auto;
		width: 686px;
	}

	.chip_set {
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;

	}

	.text {
		width: 468px;
		background-color: #FFE6C0;
		margin-top: 0em;
		padding: 16px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 0px 0px 32px 32px;
	}

	.ah {
		padding-top: 0px;
		padding-left: 0px;
		margin-left: auto;
		margin-right: auto;

		&::before {
			content: "";
			display: block;
			background: url(image\ 1.png);
			height: 72px;
			width: 72px;
			border-radius: 16px;
			position: sticky;
			right: 77%;
			top: 4%;
			z-index: -1;
		}
	}

}


.box {
	background-color: #FBF5EC;
}

.overline {
	font-family: "Raleway";
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;
	padding-top: 2.5em;
	padding-bottom: 0px;
	color: #1E1E1E;
}

.title {
	font-family: "Aclonica", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	padding-top: .5em;
	color: #1E1E1E;
	margin: 0px;
	padding-top: 0px;
}



.para {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: 16px;
	padding-top: .75em;
	padding-bottom: 0px;
	color: #1E1E1E;
}

.para1 {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: 16px;
	padding-top: 0;
	margin: 0px;
	padding-bottom: 0px;
	color: #1E1E1E;
}



.h3 {
	font-family: "Aref Ruqaa", serif;
	font-weight: 400;
	font-style: normal;
	padding-top: .25em;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	margin: 0px;
	font-size: 16px;
}

.h2 {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	padding-bottom: 0px;
	color: #1E1E1E;
}

.select {
	display: inline-block;
	border-width: 1.5px;
	border-radius: 24px;
	border-color: #CDC093;
	border-style: solid;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #FFECA7;
}

.chip {
	display: inline-block;
	border-width: 1.5px;
	border-radius: 24px;
	border-color: #CDC093;
	border-style: solid;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #fafafa;

	:hover {
		border-radius: 24px;
		background-color: #FFECA7;
	}
}

.chip_set {
	padding-left: 0px;
}

a:link {
	color: #1E1E1E;
	text-decoration: none;
}

a:visited {
	color: #1E1E1E;
}

.chip:active {
	background-color: #FFECA7;
}